.weight100 {
    font-weight: 100;
}

.weight200 {
    font-weight: 200;
}

.weight300 {
    font-weight: 300;
}

.weight400 {
    font-weight: 400;
}

.weight500 {
    font-weight: 500;
}

.weight600 {
    font-weight: 600;
}

.weight700 {
    font-weight: 700;
}

.weight800 {
    font-weight: 800;
}

.weight900 {
    font-weight: 900;
}

.size4 {
    font-size: 4px;
}

.size6 {
    font-size: 6px;
}

.size8 {
    font-size: 8px;
}

.size10 {
    font-size: 10px;
}

.size12 {
    font-size: 12px;
}

.size14 {
    font-size: 14px;
}

.size16 {
    font-size: 16px;
}

.size18 {
    font-size: 18px;
}

.size20 {
    font-size: 20px;
}

.size22 {
    font-size: 22px;
}

.size24 {
    font-size: 24px;
}

.size26 {
    font-size: 26px;
}

.size28 {
    font-size: 28px;
}

.size30 {
    font-size: 30px;
}

.size32 {
    font-size: 32px;
}

.size34 {
    font-size: 34px;
}

.size36 {
    font-size: 36px;
}

.size38 {
    font-size: 38px;
}

.size40 {
    font-size: 40px;
}

.size42 {
    font-size: 42px;
}

.size44 {
    font-size: 44px;
}

.size46 {
    font-size: 46px;
}

.size48 {
    font-size: 48px;
}

.size50 {
    font-size: 50px;
}

.size52 {
    font-size: 52px;
}

.size54 {
    font-size: 54px;
}

.size56 {
    font-size: 56px;
}

.size58 {
    font-size: 58px;
}

.size60 {
    font-size: 60px;
}

.size62 {
    font-size: 62px;
}

.size64 {
    font-size: 64px;
}

.ln100 {
    line-height: 100%;
}

.ln120 {
    line-height: 120%;
}

.ln140 {
    line-height: 140%;
}

.ln160 {
    line-height: 160%;
}

.ln180 {
    line-height: 180%;
}

.ln200 {
    line-height: 200%;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}