@import '../../styles/variables.scss';

.main {
    border-radius: $point;
    cursor: pointer;
    outline: none;
    border: none;
    width: min-content;
    @include flexHorizontalSpace(2);
    justify-content: center;
    text-decoration: none;
    align-items: center;
    white-space: nowrap;

    svg {
        width: $point * 4;
        height: $point * 4;
    }
}

.wide {
    width: 100%;
}

// Sizes

.large {
    padding: $point * 3 $point * 4;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.medium {
    padding: $point * 2 $point * 3;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.small {
    padding: $point $point * 3;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

// Colors

.primary {
    background-color: $primary60;
    color: $gray10;

    path {
        fill: $gray10;
    }

    &:hover {
        background-color: $primary50;
    }

    &:focus {
        background-color: $primary50;
        outline: 2px solid $primary90;
    }

    &:active {
        background-color: $primary60;
    }

    &:disabled {
        cursor: default;
        outline: none;
        background-color: $gray10;
        color: $gray40;

        path {
            fill: $gray40;
        }
    }
}

.secondary {
    background-color: transparent;
    color: $primary40;
    outline: 1px solid $gray20;

    path {
        fill: $primary40;
    }

    &:hover {
        background-color: $primary10;

        color: $primary50;
        outline: 1px solid $gray20;

        path {
            fill: $primary50;
        }
    }

    &:focus {
        background-color: transparent;
        color: $primary50;
        outline: 2px solid $primary90;
    }

    &:active {
        background-color: transparent;
        color: $primary50;
        outline: 1px solid $gray20;
    }

    &:disabled {
        path {
            fill: $gray40;
        }

        cursor: default;
        background-color: transparent;
        color: $gray40;
        outline: none;
    }
}

.reverse {
    flex-direction: row-reverse;
}
