:root {
  --primary10: #e5efff;
  --primary20: #b3d0ff;
  --primary30: #80b1ff;
  --primary40: #4d91ff;
  --primary50: #1a72ff;
  --primary60: #0058e6;
  --primary70: #0045b3;
  --primary80: #003180;
  --primary90: #001d4d;
  --primary100: #000a1a;

  --success10: #e5ffe5;
  --success20: #b3ffb3;
  --success30: #80ff80;
  --success40: #4dff4d;
  --success50: #1aff1a;
  --success60: #00e600;
  --success70: #00b300;
  --success80: #008000;
  --success90: #004d00;
  --success100: #001a00;

  --warning10: #fff8e5;
  --warning20: #ffebb3;
  --warning30: #ffdd80;
  --warning40: #ffcf4d;
  --warning50: #ffc21a;
  --warning60: #e6a800;
  --warning70: #b38300;
  --warning80: #805e00;
  --warning90: #4d3800;
  --warning100: #1a1300;

  --error10: #ffe5e5;
  --error20: #ffb3b3;
  --error30: #ff8080;
  --error40: #ff4d4d;
  --error50: #ff1a1a;
  --error60: #e60000;
  --error70: #b30000;
  --error80: #800000;
  --error90: #4d0000;
  --error100: #1a0000;

  --gray0: #ffffff;
  --gray10: #f2f2f2;
  --gray20: #d9d9d9;
  --gray30: #bfbfbf;
  --gray40: #a6a6a6;
  --gray50: #8c8c8c;
  --gray60: #737373;
  --gray70: #595959;
  --gray80: #404040;
  --gray90: #262626;
  --gray100: #0d0d0d;
}