$point: 4px;

$primary10: var(--primary10);
$primary20: var(--primary20);
$primary30: var(--primary30);
$primary40: var(--primary40);
$primary50: var(--primary50);
$primary60: var(--primary60);
$primary70: var(--primary70);
$primary80: var(--primary80);
$primary90: var(--primary90);
$primary100: var(--primary100);

$success10: var(--success10);
$success20: var(--success20);
$success30: var(--success30);
$success40: var(--success40);
$success50: var(--success50);
$success60: var(--success60);
$success70: var(--success70);
$success80: var(--success80);
$success90: var(--success90);
$success100: var(--success100);

$warning10: var(--warning10);
$warning20: var(--warning20);
$warning30: var(--warning30);
$warning40: var(--warning40);
$warning50: var(--warning50);
$warning60: var(--warning60);
$warning70: var(--warning70);
$warning80: var(--warning80);
$warning90: var(--warning90);
$warning100: var(--warning100);

$error10: var(--error10);
$error20: var(--error20);
$error30: var(--error30);
$error40: var(--error40);
$error50: var(--error50);
$error60: var(--error60);
$error70: var(--error70);
$error80: var(--error80);
$error90: var(--error90);
$error100: var(--error100);

$gray0: var(--gray0);
$gray10: var(--gray10);
$gray20: var(--gray20);
$gray30: var(--gray30);
$gray40: var(--gray40);
$gray50: var(--gray50);
$gray60: var(--gray60);
$gray70: var(--gray70);
$gray80: var(--gray80);
$gray90: var(--gray90);
$gray100: var(--gray100);

@mixin ui($property, $count) {
    #{$property}: calc(#{$count} * #{$point});
}

@mixin flexVerticalSpace($count) {
    display: flex;
    flex-direction: column;
    gap: calc(#{$count} * #{$point});
}

@mixin flexHorizontalSpace($count) {
    display: flex;
    gap: calc(#{$count} * #{$point});
}