@import '../../styles/variables.scss';

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    overflow-x: scroll;
    background-color: $primary10;
    border-radius: 3 * $point;
    padding: 8 * $point;
    min-width: 100 * $point;
}

.closer {
    position: absolute;
    right: 4 * $point;
    top: 4 * $point;
    transform: scale(1.2);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    svg {
        width: 3 * $point;
        height: 3 * $point;
        display: block;
    
        path {
            fill: $gray50;
        }
    }
}

.layouted {
    @include flexVerticalSpace(8);
}
